@use "../styles/mixin.scss" as mixin;

.container {
  padding: 0;
  margin:0;
}

.p {
  @include mixin.phone{
    color:red;
  }
  @include mixin.tablet{
    color:blue;
  }
  @include mixin.laptop{
    color:mixin.$color-primary
  }
}
