@use "../../mixin.scss" as mixin;

.container {
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  @include mixin.laptop {
    display: flex !important;
  }
  @include mixin.tablet {
    display: grid;
  }
  @include mixin.phone {
    display: grid;
    justify-content: center;
  }
}

.card {
  box-shadow: 0.5px 0px 2px 0px rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: fit-content;
  background-color: mixin.$color-white;
  @include mixin.laptop {
    position: absolute !important;
    z-index: 99;
    left: 0;
  }
  @include mixin.tablet {
    position: relative;
    order: 2;
    margin-top: 24px;
  }
  @include mixin.phone {
    position: relative;
    order: 2 !important;
    margin-top: 24px;
  }
}

.line {
  height: 100;
  background-color: mixin.$color-primary;
  width: 6;
  right: 2;
}

.card_container {
  @include mixin.laptop {
    padding: 40px;
  }
  @include mixin.tablet {
    padding: 40px;
  }
  @include mixin.phone {
    padding: 20px;
  }

  border-left: 2px solid mixin.$color-primary;
  max-width: 500px;
  padding-bottom: 16px;
  span {
    color: mixin.$color-primary;
  }
}
.provide {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
}

.wrapper_map {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mixin.phone {
    gap: 8px;
    p {
      font-size: 10px;
    }
  }
  @include mixin.tablet {
    gap: 16px;
  }
  @include mixin.laptop {
    gap: 16px;
  }
}

.wrapper_map_title {
  font-weight: 700;
  margin: 8px 0px;
}

.slider_wrapp {
  position: relative;
  @include mixin.phone {
    width: 100%;
  }
  @include mixin.tablet {
    width: 100%;
  }
  @include mixin.laptop {
    width: 70%;
  }
}
.button_category {
  position: absolute;
  z-index: 99;
  right: 0;
  margin: 24px;
  background-color: mixin.$color-primary;
  padding: 4px 6px;
  width: fit-content;
  p {
    color: mixin.$color-white;
  }
}
.title {
  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 0;
  margin: 24px;
  color: mixin.$color-white;
  text-align: right;
  @include mixin.phone {
    max-width: 70%;
  }
  @include mixin.tablet {
    max-width: 60%;
  }
  @include mixin.laptop {
    max-width: 50%;
  }
}
