@use "../../mixin.scss" as mixin;

.container {
  display: flex;
  @include mixin.laptop {
    flex-direction: row !important;
  }
  @include mixin.tablet {
    flex-direction: column;
  }
  @include mixin.phone {
    flex-direction: column;
  }
}

.left {
  @include mixin.laptop {
    flex: 55% !important;
  }
  @include mixin.tablet {
    flex: 100%;
  }
  @include mixin.phone {
    flex: 100%;
  }
  span {
    color: mixin.$color-primary;
  }
  p {
    @include mixin.laptop {
      font-size: 20px;
    }
    @include mixin.tablet {
      font-size: 16px;
    }
    @include mixin.phone {
      font-size: 16px;
    }
  }
}

.right {
  @include mixin.laptop {
    flex: 45% !important;
  }
  @include mixin.tablet {
    flex: 100%;
  }
  @include mixin.phone {
    flex: 100%;
  }
}
