@use "../../mixin.scss" as mixin;

.h4 {
  margin-bottom: 24px;
  .span {
    color: mixin.$color-primary;
  }
}

.container {
  display: flex;
  gap: 24px;
  @include mixin.laptop {
    flex-direction: row !important;
  }
  @include mixin.tablet {
    flex-direction: column;
  }
  @include mixin.phone {
    flex-direction: column;
  }
}

.left {
  @include mixin.laptop {
    flex: 55% !important;
  }
  @include mixin.tablet {
    flex: 100%;
  }
  @include mixin.phone {
    flex: 100%;
  }

  p {
    margin-bottom: 18px;
    @include mixin.laptop {
      font-size: 20px;
      max-width: 70%;
    }
    @include mixin.tablet {
      font-size: 16px;
    }
    @include mixin.phone {
      font-size: 14px;
    }
  }
}

.right {
  display: flex;
  padding: 8px;
  @include mixin.laptop {
    flex: 45% !important;
    flex-direction: row;
    gap: 32px;
  }
  @include mixin.tablet {
    flex: 100%;
    flex-direction: row;
    gap: 32px;
  }
  @include mixin.phone {
    flex: 100%;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  }
}
.grid1 {
  flex: 50%;
  display: flex;
  flex-direction: column;
  @include mixin.laptop {
    flex: 45% !important;
  }
  @include mixin.tablet {
    flex: 100%;
  }
  @include mixin.phone {
    flex: 100%;
  }
  gap: 16px;
  .row {
    display: flex;
    align-items: center;
    p {
      color: mixin.$color-primary;
      font-weight: 700;
      margin-left: 12px;
      padding-bottom: 4px;
    }
  }
}

.grid2 {
  flex: 50%;
  .row {
    display: flex;
    align-items: center;
    p {
      color: mixin.$color-primary;
      font-weight: 700;
      margin-left: 12px;
      padding-bottom: 4px;
    }
  }
  p {
    max-width: 90%;
  }
}
