@use "../../mixin.scss" as mixin;

.container {
  display: flex;
  gap: 24px;
  @include mixin.laptop {
    flex-direction: row !important;
    justify-content: space-between;
  }
  @include mixin.tablet {
    flex-direction: column;
  }
  @include mixin.phone {
    flex-direction: column;
  }
}
.popular {
  flex: 35%;
}

.latest {
  flex: 65%;
}
