@use "../../mixin.scss" as mixin;

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  span {
    color: mixin.$color-primary;
  }
  .btn_wrapp {
    display: flex;
    gap: 16px;
    height: fit-content;
  }
  button {
    border-width: 0;
    color: mixin.$color-primary;
    padding: 4px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 10px 0px #bebebe38, -20px -20px 60px #ffffff;
  }
}

.content {
  display: flex;
  gap: 16px;
  min-height: 525px;
  @include mixin.laptop {
    flex-direction: row !important;
    justify-content: space-between;
  }
  @include mixin.tablet {
    flex-direction: column;
  }
  @include mixin.phone {
    flex-direction: column;
  }
}

.left_column {
  flex: 50%;
  @include mixin.laptop {
    height: 525px;
  }
  @include mixin.tablet {
    height: 525px;
  }
  @include mixin.phone {
    height: 262.5px;
  }
}
.rigth_column {
  @include mixin.laptop {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include mixin.tablet {
    flex: 50%;
  }
  @include mixin.phone {
    flex: 100%;
  }
}

.wrapper_map {
  width: fit-content;
  display: flex;
  .img_wrapp {
    position: relative;
    img {
      @include mixin.laptop {
        width: 25vh;
        height: 35vh;
      }
      @include mixin.tablet {
        width: 35vh;
        height: 25vh;
      }
      @include mixin.phone {
        width: 20vh;
        height: 15vh;
      }
    }
    div {
      position: absolute;
      z-index: 99;
      top: 0;
      margin: 4px;
    }
  }
}
.detail {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16px;
}
