@use "../../mixin.scss" as mixin;

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  span {
    color: mixin.$color-primary;
  }
  .btn_wrapp {
    display: flex;
    gap: 16px;
    height: fit-content;
  }
  button {
    border-width: 0;
    color: mixin.$color-primary;
    padding: 4px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 10px 0px #bebebe38, -20px -20px 60px #ffffff;
  }
}

.content {
  display: flex;
  gap: 16px;
  @include mixin.laptop {
    flex-direction: row !important;
    justify-content: space-between;
    height: 525px;
  }
  @include mixin.tablet {
    flex-direction: column;
  }
  @include mixin.phone {
    flex-direction: column;
  }
}

.left_column {
  flex: 50%;

  @include mixin.laptop {
    height: -webkit-fill-available !important;
  }
  @include mixin.tablet {
    height: 525px;
  }
  @include mixin.phone {
    height: 272px;
  }
}
.rigth_column {
  gap: 16px;
  @include mixin.laptop {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include mixin.tablet {
    flex: 50%;
  }
  @include mixin.phone {
    flex: 100%;
  }
}

.wrapper_map {
  width: fit-content;
  display: flex;
  .img_wrapp {
    position: relative;
    @include mixin.laptop {
      min-width: 25vh;
      height: 35vh;
      margin-bottom: 0px !important;
    }
    @include mixin.tablet {
      min-width: 35vh;
      height: 25vh;
      margin-bottom: 16px;
    }
    @include mixin.phone {
      min-width: 20vh;
      height: 15vh;
      margin-bottom: 16px;
    }

    div {
      position: absolute;
      z-index: 99;
      top: 0;
      margin: 4px;
    }
  }
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 16px;
  gap: 12px;

  h5 {
    cursor: pointer;
  }
}
.like_wrapper {
  display: flex;
  flex-direction: row;
  div {
    display: flex;
    align-items: center;
  }
  p {
    color: mixin.$color-grey;
    margin-left: 6px;
    margin-right: 12px;
  }
}
