@use '../../mixin.scss' as mixin;

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  span {
    color: mixin.$color-primary;
  }
}

.content {
  display: flex;
  gap: 16px;
  min-height: 525px;
  @include mixin.laptop {
    flex-direction: row !important;
    justify-content: space-between;
  }
  @include mixin.tablet {
    flex-direction: column;
  }
  @include mixin.phone {
    flex-direction: column;
  }
}

.left_column {
  flex: 50%;
  @include mixin.laptop {
    height: 525px;
  }
  @include mixin.tablet {
    height: 525px;
  }
  @include mixin.phone {
    height: 262.5px;
  }
}
.rigth_column {
  flex: 50%;
  display: flex;
  flex-direction: column;
  height: 525px;
  max-height: 525px;
  gap: 16px;
}
.col {
  height: 184px !important;
}
