@use "../../mixin.scss" as mixin;

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: mixin.$color-primary;
  }
  .btn_wrapp {
    display: flex;
    gap: 16px;
    height: fit-content;
  }
  button {
    border-width: 0;
    color: mixin.$color-primary;
    padding: 4px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 10px 0px #bebebe38, -20px -20px 60px #ffffff;
  }
}

.content {
  display: flex;
  gap: 16px;
  height: 525px;
  @include mixin.laptop {
    flex-direction: row !important;
  }
  @include mixin.tablet {
    flex-direction: column;
  }
  @include mixin.phone {
    flex-direction: column;
  }
}

.left_column {
  height: 525px;
}
.rigth_column {
  display: flex;
  flex-direction: column;
  height: 525px;
  gap: 16px;
}
.col {
  height: 184px !important;
}
