@use "../../mixin.scss" as mixin;

.container {
  position: relative;
  @include mixin.phone {
    padding: 16px;
  }
  @include mixin.tablet {
    padding: 32px;
  }
  @include mixin.laptop {
    padding: 40px;
  }
}
.img {
  position: relative;
  width: 100%;
  @include mixin.phone {
    height: 193px;
  }
  @include mixin.tablet {
    height: 500px;
  }
  @include mixin.laptop {
    height: 542px;
  }
}

.title {
  margin: 16px 0px;
}

.written {
  color: rgb(18, 16, 61, 30%);
}

.author_wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0px;
  .left {
    display: flex;
    align-items: center;
    gap: 16px;
    span {
      margin-left: 8px;
      color: rgb(18, 16, 61, 30%);
      @include mixin.phone {
        font-size: 12px;
      }
      @include mixin.tablet {
        font-size: 14px;
      }
      @include mixin.laptop {
        font-size: 14px;
      }
    }
  }
}

.view_wrapp {
  display: flex;
  align-items: center;
  gap: 8px;
}

.chip {
  position: absolute;
  z-index: 99;
  margin: 16px;
}

.short_desc {
  margin: 16px 0px;
  color: rgb(18, 16, 61, 30%);
}
