@use '../../styles/mixin.scss' as mixin;

.container {
  width: 100%;
  position: fixed;
  z-index: 900;
  top: 0;
  background-color: mixin.$color-white;
}

.wrapp {
  margin: auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  @include mixin.phone {
    padding: 12px 16px !important;
  }
  @include mixin.tablet {
    padding: 16px 52px !important;
  }
  @include mixin.laptop {
    padding: 16px 80px !important;
  }
  @include mixin.desktop-xl {
    padding: 16px 0px !important;
  }
}

.logo {
  h2 {
    color: mixin.$color-primary;
  }
}

.linkWrapp {
  align-items: center;
  gap: 32px;
  @include mixin.phone {
    display: none;
  }
  @include mixin.tablet {
    display: none;
  }
  @include mixin.laptop {
    display: flex;
  }
}

.iconmenu {
  @include mixin.phone {
    display: flex;
  }
  @include mixin.tablet {
    display: flex;
  }
  @include mixin.laptop {
    display: none;
  }
}

.activeLink {
  font-size: 16;
  color: mixin.$color-primary;
  text-decoration: none;
  font-weight: 400;
}
