@use '../../styles/mixin.scss' as mixin;

.wrapp {
  width: 100%;
  position: fixed;
  z-index: 900;
  display: flex;
  align-items: center;
  background-color: mixin.$color-white;
  justify-content: space-between;
  top: 0;
  box-sizing: border-box;
  @include mixin.phone {
    padding: 12px 16px;
  }
  @include mixin.tablet {
    padding: 0px 80px;
  }
  @include mixin.laptop {
    padding: 16px 80px;
  }
}

.logo {
  h2 {
    color: mixin.$color-primary;
  }
}

.linkWrapp {
  align-items: center;
  gap: 32px;
  @include mixin.phone {
    display: none;
  }
  @include mixin.tablet {
    display: none;
  }
  @include mixin.laptop {
    display: flex;
  }
}

.iconmenu {
  @include mixin.phone {
    display: flex;
  }
  @include mixin.tablet {
    display: flex;
  }
  @include mixin.laptop {
    display: none;
  }
}

.activeLink {
  font-size: 16;
  color: mixin.$color-primary;
  text-decoration: none;
  font-weight: 400;
}
