@use "../../styles/mixin.scss" as mixin;

.container {
  // position: fixed;
  // z-index: 990;
  // background-color: mixin.$color-white;
  // width: 100%;
  // top: 0;
  @include mixin.phone {
    padding: 0px 16px;
  }
  @include mixin.tablet {
    padding: 0px 80px;
  }
  @include mixin.laptop {
    padding: 0px 80px;
  }
}

.wrapp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: mixin.$color-white;
}

.logo {
  color: mixin.$color-primary;
}

.linkWrapp {
  align-items: center;
  gap: 32px;
  @include mixin.phone {
    display: none;
  }
  @include mixin.tablet {
    display: none;
  }
  @include mixin.laptop {
    display: flex;
  }
}

.iconmenu {
  @include mixin.phone {
    display: flex;
  }
  @include mixin.tablet {
    display: flex;
  }
  @include mixin.laptop {
    display: none;
  }
}

.link {
  font-size: 16;
  color: mixin.$color-black;
  text-decoration: none;
  font-weight: 400;
}

.activeLink {
  font-size: 16;
  color: mixin.$color-primary;
  text-decoration: none;
  font-weight: 400;
}
