@use "../mixin.scss" as mixin;

.body {
  box-sizing: border-box;
}

.container {
  margin-top: 60px;
  @include mixin.phone {
    padding: 0px 16px 0px 16px;
  }
  @include mixin.tablet {
    padding: 16px 52px 16px 52px;
  }
  @include mixin.laptop {
    padding: 16px 80px 16px 80px;
  }
  @include mixin.desktop-xl {
    padding: 16px 80px 16px 80px;
  }
}
