@use "../styles/mixin.scss" as mixin;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: mixin.$color-white;
}

p{
  font-size: 16px;
  color:mixin.$color-grey;
  line-height: 0.1;
}
h3{
  font-size: 34px;
  color:mixin.$color-black;
  line-height: 1;
  font-weight: 700;
}
h4{
  font-size: 28px;
  color:mixin.$color-black;
  line-height: 0.8;
  font-weight: 700;
}

